body,
html {
  width: 100%;
  height: 100%;
}

/*body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}*/
body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

/*hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #F05F40;
}
hr.light {
  border-color: #fff;
}*/
hr {
  max-width: 60px;
  border-width: 5px;
  border-color: rgb(40, 150, 100);
}
hr.light {
  border-color: rgb(255, 255, 255);
}
hr.dark {
  border-color: rgb(0, 0, 0);
}

footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}

/*a {
  color: #F05F40;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #f05f40;
}*/

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: rgb(70, 70, 70);
}
a:hover,
a:focus,
a:active,
a.active {
  color: rgb(0, 0, 0);
}
a:hover, a:visited, a:link, a:focus, a:active
{
    text-decoration: none;
}

a.light,
a.light:hover,
a.light:focus,
a.light:active,
a.light.active {
  outline: none;
}
a.light {
  color: rgb(240, 240, 240);
}
a.light:hover,
a.light:focus,
a.light:active,
a.light.active {
  color: rgb(255, 255, 255);
}
a.light:hover, a.light:visited, a.light:link, a.light:focus, a.light:active
{
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
  background-color: rgb(40, 150, 100) !important;
}

.bg-light {
  background-color: rgb(255, 255, 255) !important;
}

.bg-dark {
  background-color: rgb(242, 242, 242) !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(40, 150, 100);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#mainNav {
  background-color: rgb(40, 150, 100);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: rgba(255, 255, 255, 0.8);
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: rgba(255, 255, 255, 0.8);
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: rgba(255, 255, 255, 0.8) !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgb(255, 255, 255);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgb(255, 255, 255);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  #mainNav.navbar-shrink {
    background-color: rgb(40, 150, 100);
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: rgb(255, 255, 255);
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgb(255, 255, 255);
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}

/*header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/header.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-color: rgb(40, 150, 100);
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.service-box {
  max-width: 400px;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(40, 150, 100, 0.9);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.text-primary {
  color: rgb(40, 150, 100) !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}
.btn-primary {
  background-color: rgb(40, 150, 100);
  border-color: rgb(40, 150, 100);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: rgb(255, 255, 255);
  background-color: rgba(40, 150, 100, 0.9) !important;
}
.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 150, 100, 0.5) !important;
}

.btn-light:hover, .btn-light:focus, .btn-light:active {
  background-color: rgba(255, 255, 255, 0.85) !important;
  color: rgb(40, 150, 100);
}
.btn-light:active, .btn-light:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5) !important;
  color: rgb(40, 150, 100);
}
.btn-light, .btn-light:hover, .btn-ligth:focus, .btn-ligth:active {
  color: rgb(40, 150, 100) !important;
}
