<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Project portfolio (deep learning, robots, programming) for Fredrik Gustafsson.">
    <meta name="author" content="Fredrik Gustafsson">

    <title>Fredrik Gustafsson</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="/static/css/agency.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

  <!-- Navigation -->
  <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top" style="background-color: #222222; border-color: transparent;">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/">fregu856</a>
        </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li class="hidden">
                      <a href="#page-top"></a>
                  </li>
                  <li>
                      <a class="page-scroll" href="/#portfolio">Projects</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="/#about">About me</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>

    <!-- demo section -->
    <section id="demo">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p style="text-align:center;"><img src="static/img/background.png" class="img-responsive" alt="SMAUGS: Autonomous Minesweeping System"></p>

                    <p>Såhär mitt i högskolevalet vill jag passa på att slå ett slag för landets alla grymma ingenjörsutbildningar.</p>

                    <p>Jag läser personligen just nu min sista termin på <b><i>Teknisk fysik och elektroteknik</i></b> i Linköping och kunde i princip inte vara mer nöjd med min utbildning. De senaste fem åren har jag fått lära känna en massa trevliga människor, jag har fått tillbringa ett otroligt utvecklande år som utbytesstudent i USA och framförallt har jag fått lära mig massor av intressanta saker inom matte/programmering/robotik/datorseende/maskininlärning etc.</p>

                    <p>Eftersom jag tyckte att matte och fysik var ganska intressant på gymnasiet var det för mig ett relativt självklart val att jag skulle läsa just en ingenjörsutbildning, men jag hade egentligen ingen aning om vad det faktiskt innebär att vara ingenjör. Numer förstår jag att ingenjörsyrket är <b>OTROLIGT</b> brett och att en som ingenjör kan arbeta med i princip vad som helst. För att ge åtminstone ett konkret exempel på vad en som ingenjörsstudent kan inrikta sig på, tänkte jag nedan därför beskriva några av de projekt jag har arbetat med under studietiden.</p>

                    <p>Nu under våren är vi två personer som gör vårt examensarbete för Zenuity (Volvo/Autoliv) som handlar om att detektera andra bilar och att estimera deras position med hjälp av en LiDAR-sensor, en kamera samt maskininlärning. Video:</p>
                    <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/-QR7zpitRIA?enablejsapi=1&version=3&playerapiid=ytplayer" frameborder="0" allowfullscreen="true" allowscriptaccess="always"></iframe></div>
                    </br>
                    </br>

                    <p>I höstas var vi åtta personer som tillsammans byggde ett autonomt minröjnings-system, bestående av en markgående robot och en flygande drönare. Roboten skulle på egen hand utforska och skapa en karta av ett område på marken, samtidigt som den detekterade alla "minor" i detta område ("minor" = utskrifter av speciella mönster som en kan detektera i bilder från en kamera). Drönaren skulle automatiskt följa efter och filma roboten från luften. Video:</p>
                    <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/KNabhxX7Tv4?enablejsapi=1&version=3&playerapiid=ytplayer" frameborder="0" allowfullscreen="true" allowscriptaccess="always"></iframe></div>
                    </br>
                    </br>

                    <p>I höstas gjorde jag även två småprojekt där jag med hjälp av maskininlärning skapade modeller som kan analysera bilder och i dessa detektera olika intressanta objekt (bilar, fotgängare, cyklister o.s.v). För att kunna göra detta använder en sig av tusentals bilder där människor har markerat var olika objekt befinner sig. Sedan skriver en kod som automatiskt justerar värdet på olika parametrar i sin modell, ända tills modellen markerar objekt i bilderna på ungefär samma sätt som människorna gjorde. Video:</p>
                    <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/5BBwjvlUULI?enablejsapi=1&version=3&playerapiid=ytplayer" frameborder="0" allowfullscreen="true" allowscriptaccess="always"></iframe></div>
                    </br>
                    <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/HbPhvct5kvs?enablejsapi=1&version=3&playerapiid=ytplayer" frameborder="0" allowfullscreen="true" allowscriptaccess="always"></iframe></div>
                    </br>
                    </br>

                    <p>Jag har även gjort ett projekt där jag skapade en modell som automatiskt kan generera meningar som beskriver olika bilder. En använder sig här av tusentals bilder som människor har skrivit beskrivande meningar till, och försöker sedan få sin modell att skapa liknande bildtexter. Bilder med tillhörande bildtexter (klicka på någon av de röda knapparna för att ladda nästa bild): <a href="http://www.fregu856.com/image_captioning">http://www.fregu856.com/image_captioning</a>.</p>

                    <p>För två år sedan var vi även sju personer som byggde en autonom spindel-robot. Roboten kunde på egen hand navigera i en labyrintliknande miljö innehållandes olika hinder som den var tvungen att klättra över / krypa under. Den kunde även styras manuellt med en Xbox-kontroll. Video:</p>
                    <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/N5_tMeEpJaA?enablejsapi=1&version=3&playerapiid=ytplayer" frameborder="0" allowfullscreen="true" allowscriptaccess="always"></iframe></div>
                    </br>
                    </br>

                    <p>Samtliga projekt ovan (+ några fler) finns även beskrivna på startsidan: <a href="http://www.fregu856.com">http://www.fregu856.com</a>.</p>

                    <p>Studietiden har för min del inneburit mycket plugg och ibland har det absolut känts ganska tufft, men överlag har det varit en otroligt intressant och rolig upplevelse. Tack vare det som jag har fått lära mig under studietiden kommer jag i höst dessutom få börja jobba med teknik för självkörande fordon, vilket är precis det område jag just nu finner allra mest intressant.</p>

                    <p>Ifall någon har några frågor (kring hur det är att plugga till ingenjör i största allmänhet / hur det är att plugga i Linköping / hur det är att plugga teknisk fysik och elektroteknik etc.) får en mer än gärna skicka mig ett mail på <b><i>fregu856@gmail.com</i></b>.</p>

                    <p>MVH</p>

                    <p>Fredrik Gustafsson</p>
                </div>
            </div>

        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <span class="copyright">Copyright &copy; Fredrik Gustafsson 2017-2018</span>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script src="/static/js/jqBootstrapValidation.js"></script>
    <script src="/static/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="/static/js/agency.min.js"></script>

</body>

</html>
