<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Project portfolio (deep learning, robots, programming) for Fredrik Gustafsson.">
    <meta name="author" content="Fredrik Gustafsson">

    <title>Fredrik Gustafsson</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="static/css/agency.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">fregu856</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About me</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header style="background-image: url('/static/img/background.png')">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"></div>
                <div class="intro-heading">Fredrik Gustafsson</div>
                <a href="#portfolio" class="page-scroll btn btn-xl">See my projects</a>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container" style="width:90%">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects</h2>
                    <h4 class="section-subheading text-muted"></h4>
                    <h4 class="section-subheading text-muted"></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="static/img/cs224n_poster.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>CS 224N Final Project</h4>
                        <p class="text-muted">Neural Image Captioning for Intelligent Vehicle-to-Passenger Communication.</p>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6 portfolio-item" style="max-width:800px">
                  <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content">
                              <i class="fa fa-plus fa-3x"></i>
                          </div>
                      </div>
                      <img src="static/img/cs229_poster.png" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                      <h4>CS 229 Final Project</h4>
                      <p class="text-muted">Control of an Inverted Double Pendulum using Reinforcement Learning.</p>
                  </div>
              </div>
                <div class="col-md-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="static/img/rasperino.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Rasperino</h4>
                        <p class="text-muted">Autonomous/Web Controlled Raspberry Pi & Arduino Robot.</p>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6 portfolio-item">
                  <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content">
                              <i class="fa fa-plus fa-3x"></i>
                          </div>
                      </div>
                      <img src="static/img/spiderpig.png" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                      <h4>Spider Pig</h4>
                      <p class="text-muted">Autonomous Hexapod Robot.</p>
                  </div>
              </div>
              <div class="col-md-6 portfolio-item">
                  <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content">
                              <i class="fa fa-plus fa-3x"></i>
                          </div>
                      </div>
                      <img src="static/img/bluewind.png" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                      <h4>BlueWind</h4>
                      <p class="text-muted">2D Adventure Game.</p>
                  </div>
              </div>
          </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container" style="width:88%">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section-heading">About me</h2>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="team-member">
                        <img src="static/img/profile_pic.jpg" class="img-responsive img-circle" alt="picture of Fredrik Gustafsson">
                        <h4>Fredrik Gustafsson</h4>
                        <p class="text-muted">Graduate Exchange Student at Stanford University</p>
                        <ul class="list-inline social-buttons">
                          <li>
                              <a href="https://github.com/fregu856"><i class="fa fa-github"></i></a>
                          </li>
                          <li>
                              <a href="https://www.linkedin.com/in/fregu856/"><i class="fa fa-linkedin"></i></a>
                          </li>
                          <li>
                              <a href="mailto:fregu856@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">- I am an engineering student with a particular interest in mathematics, mobile robotics and teaching, specializing within the fields of control theory and signal processing. I aim to contribute to the development of fully autonomous vehicles and hope to experience the day when we can safely say: ”Do you remember when people used to get killed in traffic?”.</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <span class="copyright">Copyright &copy; Fredrik Gustafsson 2017</span>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>CS 224N Final Project</h2>
                                <p class="item-intro text-muted">Neural Image Captioning for Intelligent Vehicle-to-Passenger Communication.</p>
                                <img class="img-responsive img-centered" src="static/img/img_captioning.png" alt="">
                                <ul class="list-inline social-buttons">
                                  <li>
                                      <a href="/image_captioning"><i class="fa fa-picture-o"></i></a>Demo
                                  </li>
                                  <li>
                                      <a href="https://goo.gl/1DMQVE"><i class="fa fa-list-alt"></i></a>Poster
                                  </li>
                                  <li>
                                      <a href="https://goo.gl/PzgRf5"><i class="fa fa-file-text"></i></a>Report
                                  </li>
                                  <li>
                                      <a href="https://github.com/fregu856/CS224n_project"><i class="fa fa-github"></i></a>Code
                                  </li>
                                </ul>
                                <ul class="list-inline">
                                    <li>Jan. 2017 - Mar. 2017</li>
                                    <li>Course project in CS 224N: Natural Language Processing with Deep Learning, Stanford University</li>
                                    <li>Python, TensorFlow</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="close-modal" data-dismiss="modal" id="cs229_cross">
                  <div class="lr">
                      <div class="rl">
                      </div>
                  </div>
              </div>
              <div class="container">
                  <div class="row">
                      <div class="col-lg-8 col-lg-offset-2">
                          <div class="modal-body">
                              <!-- Project Details Go Here -->
                              <h2>CS 229 Final Project</h2>
                              <p class="item-intro text-muted">Control of an Inverted Double Pendulum using Reinforcement Learning.</p>
                              <div class="video-container"><iframe id="cs229_video" width="560" height="315" src="https://www.youtube.com/embed/WuxKutPuQbY?enablejsapi=1&version=3&playerapiid=ytplayer" frameborder="0" allowfullscreen="true" allowscriptaccess="always"></iframe></div>
                              </br>
                              <ul class="list-inline social-buttons">
                                <li>
                                    <a href="https://goo.gl/KCqTfM"><i class="fa fa-list-alt"></i></a>Poster
                                </li>
                                <li>
                                    <a href="https://goo.gl/X35tzq"><i class="fa fa-file-text"></i></a>Report
                                </li>
                                <li>
                                    <a href="https://github.com/fregu856/CS-229"><i class="fa fa-github"></i></a>Code
                                </li>
                              </ul>
                              <ul class="list-inline">
                                  <li>Nov. 2016 - Dec. 2016</li>
                                  <li>Course project in CS 229: Machine Learning, Stanford University</li>
                                  <li>Python</li>
                              </ul>
                              <button id="cs229_button" type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="close-modal" data-dismiss="modal" id="rasperino_cross">
                  <div class="lr">
                      <div class="rl">
                      </div>
                  </div>
              </div>
              <div class="container">
                  <div class="row">
                      <div class="col-lg-8 col-lg-offset-2">
                          <div class="modal-body">
                              <!-- Project Details Go Here -->
                              <h2>Rasperino</h2>
                              <p class="item-intro text-muted">Autonomous/Web Controlled Raspberry Pi & Arduino Robot.</p>
                              <div class="video-container"><iframe id="rasperino_video" width="560" height="315" src="https://www.youtube.com/embed/povGte7K8o4?enablejsapi=1&version=3&playerapiid=ytplayer" frameborder="0" allowfullscreen="true" allowscriptaccess="always"></iframe></div>
                              </br>
                              <ul class="list-inline social-buttons">
                                <li>
                                    <a href="https://goo.gl/photos/z78dbTpEZ5kwjqneA"><i class="fa fa-picture-o"></i></a>Images
                                </li>
                                <li>
                                    <a href="https://github.com/fregu856/Sommarprojekt16"><i class="fa fa-github"></i></a>Code
                                </li>
                              </ul>

                              <p>
                                  <b>Main hardware:</b><br>
                                      - 1x Arduino Uno.<br>
                                      - 1x Raspberry Pi 3 Model B.<br>
                                      - 1x Raspberry Pi Camera Module v2.<br>
                                      - 1x DFRobot 4WD Arduino Mobile Platform.<br>
                                      - 2x L298 Dual H-Bridge DC Motor Controller.<br>
                                      - 5x Sharp GP2Y0A21YK0F IR Range Sensor - 10 cm to 80 cm.<br>
                                      - 1x Power bank.<br>
                                  <br>

                                  <b>Features:</b><br>
                                      - Autonomous navigation of simple mazes.<br>
                                      - Basic computer vision for detection of "color signs".<br>
                                      - Video streaming.<br>
                                      - Web interface for manual control and monitoring (desktop & mobile).<br>
                                      - PD controller.<br>
                                  <br>

                                  <b>Functionality:</b><br>
                                      - The Arduino reads and filters the IR sensors, implements the PD controller, controls the motor controllers via PVM and runs a state mahcine for autonomous navigation.<br>
                                      - The Raspberry Pi acts as a webserver, streams live video and runs a basic computer vision algorithm.<br>
                                      - The Arduino sends sensor and status data to the Raspberry Pi over serial (USB cable), which in turn sends this (and video streaming data) to the web page over wifi.<br>
                                      - User input is sent from the web page to the Raspberry Pi over wifi, which in turn sends this to the Arduino over serial.
                              </p>

                              <ul class="list-inline">
                                  <li>Jun. 2016 - Aug. 2016</li>
                                  <li>Personal summer project</li>
                                  <li>Python, C, HTML, JavaScript</li>
                              </ul>
                              <button id="rasperino_button" type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="close-modal" data-dismiss="modal" id="spiderpig_cross">
                  <div class="lr">
                      <div class="rl">
                      </div>
                  </div>
              </div>
              <div class="container">
                  <div class="row">
                      <div class="col-lg-8 col-lg-offset-2">
                          <div class="modal-body">
                              <!-- Project Details Go Here -->
                              <h2>Spider Pig</h2>
                              <p class="item-intro text-muted">Autonomous Hexapod Robot.</p>
                              <div class="video-container"><iframe id="spiderpig_video" width="560" height="315" src="https://www.youtube.com/embed/N5_tMeEpJaA?enablejsapi=1&version=3&playerapiid=ytplayer" frameborder="0" allowfullscreen="true" allowscriptaccess="always"></iframe></div>
                              </br>
                              <ul class="list-inline social-buttons">
                                <li>
                                    <a href="https://drive.google.com/file/d/0B-n8kwzkfV_fZzFONTlqa3hockU/view?usp=sharing"><i class="fa fa-list-alt"></i></a>Slides
                                </li>
                                <li>
                                    <a href="https://drive.google.com/file/d/0B-n8kwzkfV_fM1hqVU1uZkxTYlU/view?usp=sharing"><i class="fa fa-file-text"></i></a>Report
                                </li>
                                <li>
                                    <a href="https://github.com/Skipsterino/Kandidatprojekt"><i class="fa fa-github"></i></a>Code
                                </li>
                              </ul>

                              <p>
                                  <b>Main hardware:</b><br>
                                      - 1x PhantomX AX Metal Hexapod Mark II Kit (including 18x Dynamixel AX-12 servos, excluding the ArbotiX Robocontroller).<br>
                                      - 3x ATmega1284p microcontrollers.<br>
                                      - 7x IR distance sensors.<br>
                                      - 1x ultrasonic distance sensor.<br>
                                      - 1x MPU-6050 IMU.<br>
                                      - 1x LCD display.<br>
                                      - 1x FireFly Bluetooth modem.<br>
                                      - 1x Raspberry Pi 3 Model B.<br>
                                      - 1x Raspberry Pi Camera Board 5 MP.<br>
                                  <br>

                                  <b>Functionality:</b><br>
                                  - The robot can navigate a simple maze (containing both low and high obstacles) autonomously and be controlled manually with an Xbox controller connected to a PC. It communicates with the PC over Bluetooth.<br>
                                  - The system is divided into three subsystems (control, sensors and communication), with one microcontroller each. The subsystems communicate via an SPI bus.<br>
                                  - The Raspberry Pi is configured as a WiFi hotspot and streams video to a Linux computer.<br>
                                  - The walking algorithm is based on inverse kinematics. A PD controller is used to keep it centered in corridors.
                              </p>

                              <p>By Fredrik Gustafsson, Joakim Bertils, Jonas Ehn, Kevin Kjellén, Erik Ljungzell, Christoffer Malmgren and Jens Månsson. My main responsibilities: Sensors and autonomy.</p>
                              <ul class="list-inline">
                                  <li>Jan. 2016 - Jun. 2016</li>
                                  <li>Bachelor thesis project, Linköping University</li>
                                  <li>C</li>
                              </ul>
                              <button id="spiderpig_button" type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="close-modal" data-dismiss="modal" id="bluewind_cross">
                  <div class="lr">
                      <div class="rl">
                      </div>
                  </div>
              </div>
              <div class="container">
                  <div class="row">
                      <div class="col-lg-8 col-lg-offset-2">
                          <div class="modal-body">
                              <!-- Project Details Go Here -->
                              <h2>BlueWind</h2>
                              <p class="item-intro text-muted">2D Adventure Game.</p>
                              <div class="video-container"><iframe id="bluewind_video" width="560" height="315" src="https://www.youtube.com/embed/2dzIzPWQkns?enablejsapi=1&version=3&playerapiid=ytplayer" frameborder="0" allowfullscreen="true" allowscriptaccess="always"></iframe></div>
                              </br>
                              <ul class="list-inline social-buttons">
                                <li>
                                    <a href="https://github.com/Zoreno/BlueWindProject"><i class="fa fa-github"></i></a>Code
                                </li>
                              </ul>
                              <p>By Fredrik Gustafsson, Olle Andersson, Simon Arkeholt, Joakim Bertils, Jonas Ehn and Johannes Grundell.</p>
                              <ul class="list-inline">
                                  <li>Oct. 2015 - Dec. 2015</li>
                                  <li>Course project in TDDC76: Programming and Datastructures, Linköping University</li>
                                  <li>C++</li>
                              </ul>
                              <button id="bluewind_button" type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <!-- jQuery -->
    <script src="static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script src="static/js/jqBootstrapValidation.js"></script>
    <script src="static/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="static/js/agency.min.js"></script>

    <script type="text/javascript" charset="utf-8">

      // to make videos stop when you close the project modals:
      $('#cs229_cross').on('click', function() {
      $('#cs229_video')[0].contentWindow.postMessage('{"event":"command","func":"' + 'stopVideo' + '","args":""}', '*');
      });
      $('#cs229_button').on('click', function() {
      $('#cs229_video')[0].contentWindow.postMessage('{"event":"command","func":"' + 'stopVideo' + '","args":""}', '*');
      });

      $('#rasperino_cross').on('click', function() {
      $('#rasperino_video')[0].contentWindow.postMessage('{"event":"command","func":"' + 'stopVideo' + '","args":""}', '*');
      });
      $('#rasperino_button').on('click', function() {
      $('#rasperino_video')[0].contentWindow.postMessage('{"event":"command","func":"' + 'stopVideo' + '","args":""}', '*');
      });

      $('#spiderpig_cross').on('click', function() {
      $('#spiderpig_video')[0].contentWindow.postMessage('{"event":"command","func":"' + 'stopVideo' + '","args":""}', '*');
      });
      $('#spiderpig_button').on('click', function() {
      $('#spiderpig_video')[0].contentWindow.postMessage('{"event":"command","func":"' + 'stopVideo' + '","args":""}', '*');
      });

      $('#bluewind_cross').on('click', function() {
      $('#bluewind_video')[0].contentWindow.postMessage('{"event":"command","func":"' + 'stopVideo' + '","args":""}', '*');
      });
      $('#bluewind_button').on('click', function() {
      $('#bluewind_video')[0].contentWindow.postMessage('{"event":"command","func":"' + 'stopVideo' + '","args":""}', '*');
      });

      // to make buttons NOT stay focused after clicks:
      $(".btn").mouseup(function(){
      $(this).blur();
      })

      // to make the toggle menu button NOT stay focused after clicks:
      $(".navbar-toggle").mouseup(function(){
      $(this).blur();
      })

      // to text in the navbar NOT stay focused after clicks (so that text don't stay red):
      $(".page-scroll").mouseup(function(){
      $(this).blur();
      })

    </script>

</body>

</html>
